* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Garante que o body preencha toda a altura da tela */
    overflow-x: hidden; /* Evita rolagem horizontal */
}

.aluguel-container {
    display: flex;
    justify-content: center;
    min-height: 100%; /* Altura mínima para preencher a tela inicial */
    padding: 20px; /* Espaço interno */
    box-sizing: border-box;
    height: 100%;
    align-items: flex-start; /* Alinha os itens ao início do container */
}


.aluguel-form {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 40px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 3%;
}

.aluguel-form h2 {
    margin-top: 15%;
    color: #333;
    font-size: 25px;
}

.inputs{
    margin-top: 15%;
}

input{
    width: 80%;
    padding: 15px;
    margin: 15px 0;
    display: inline-block;
    border: none;
    box-shadow: 5px rgb(255, 255, 255);
    box-sizing: border-box;
}

button {
    background-color: #fcd49c;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;

    border-radius: 10px;
    cursor: pointer;
    width: 47%;
    height: 53px;
    font-size: 18px;
    margin-top: 10%;
}

button:hover {
    opacity: 0.8;
}

.aluguel-links {
    margin-top: 12%;
}

.aluguel-links a {
    text-decoration: none;
    color: black;
}

.aluguel-links a:hover {
    text-decoration: underline;
}

@media (min-width: 601px) {

    body, html {
        overflow-x: hidden;
        height: 100vh;
        overflow-y: hidden; /* Evita rolagem horizontal */
    }
}

/* Mobile Specific Styles */
@media (max-width: 600px) {
    .login-container {
        min-height: 100vh; /* Garante que o container de login cubra a tela inicialmente */
    }
    .login-form{
        margin-top: 25%;
    }
}
