.background-image {
    position: fixed; /* Fixa a imagem de fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantém a imagem atrás de todos os outros elementos */
    background-image: url('/img/bibliotecafundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.box1 > * {
    margin-bottom: 10px;
}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 50px); /* Subtrai a altura do header */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10%; /* Espaço do topo para centralização */
}

.box1 {
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-botao {
    position: absolute;
    bottom: 20%;
    right: 10%;
}

