.user-bar {
    background-color: #fcc06d; /* Cor marrom para a faixa */
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px; /* Padding para dar espaço interno */
    display: flex; /* Uso de flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente dentro da barra */
    justify-content: space-between; /* Espaça o nome do usuário e o botão nas extremidades */
    width: 100%; /* Garante que a barra ocupe 100% da largura da janela */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Assegura que o cabeçalho fique sobre outros elementos */
}

#username {
    margin-right: 20px; /* Espaço entre o nome do usuário e o botão */
    margin-left: 40px;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #A52A2A; /* Um tom de marrom mais escuro */
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; /* Remove sublinhado de links */
    cursor: pointer; /* Muda o cursor para indicar clicabilidade */
}

.button:hover {
    background-color: #800000; /* Cor de hover mais escura */
}

.background-image {
    background-image: url('https://thumbs2.imgbox.com/8d/e9/quymfPSi_t.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute; /* Mudei para absolute para permitir rolagem */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.footer {
    width: 100%;
    background-color: #f1f1f1c5;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.footer-section {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.footer-section p {
    line-height: 1.6; /* Aumenta o espaçamento das linhas */
}

.footer-section h3 {
    margin: 0 0 5px 0; /* Ajusta a margem do título para um espaçamento melhor */
}

@media (min-width: 601px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row; /* Muda para row para alinhar lado a lado */
        justify-content: space-between; /* Espaça as seções nas extremidades do rodapé */
        padding: 10px 20px; /* Aumenta o padding lateral para melhor aparência */
    }

    .footer-section {
        width: 50%; /* Ajusta cada seção para ocupar metade do rodapé */
        padding: 10px; /* Ajusta o padding para mais espaço interno */
        box-sizing: border-box;
    }

    body, html {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }
    
}

@media (max-width: 600px) {
    body, html {
        height: auto; /* Permite que o conteúdo defina a altura */
        min-height: 100%; /* Garante que o corpo seja pelo menos tão alto quanto a janela */
        position: relative;
        min-height: 100%; /* Garante que o corpo ocupe toda a altura */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .background-image {
        position: fixed; /* Fixa a imagem de fundo */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Mantém a imagem atrás de todos os outros elementos */
        background-image: url('/img/bibliotecafundo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .user-bar {
        flex-direction: row; /* Empilha os elementos verticalmente */
        align-items: center; /* Centraliza os elementos horizontalmente */
        padding: 10px; /* Espaço interno suficiente */
    }

    .label-user {
        display: none; /* Oculta a palavra "Usuário" na versão mobile */
    }

    #username {
        width: 100%; /* Ocupa toda a largura disponível */
        margin: 0 0 5px 0; /* Espaço abaixo do nome antes do botão */
        font-size: 22px; /* Ajusta o tamanho da fonte para visibilidade */
        text-align: center; /* Centraliza o texto */
    }

    #logoutButton {
        width: 30%; /* Aumenta a largura do botão para melhor acessibilidade */
        padding: 8px 10px; /* Padding adequado para toque */
        font-size: 16px; /* Tamanho de fonte confortável para o botão */
        margin-bottom: 5px; /* Margem na parte inferior para separar do conteúdo abaixo */
        text-align: center; /* Centraliza o texto dentro do botão */
    }

    .footer {
        position: fixed; /* Fixa o rodapé na parte inferior */
        bottom: 0; /* Alinha o rodapé na parte inferior da página */
        left: 0; /* Alinha à esquerda */
        width: 100%; /* Faz com que o rodapé ocupe toda a largura */
        padding: 10px 0; /* Padding para manter um espaço interno suficiente */
        background-color: #f1f1f1c5; /* Cor de fundo clara para visibilidade */
        box-sizing: border-box; /* Inclui o padding no cálculo da largura */
        z-index: 1000; /* Garante que o rodapé fique acima da imagem de fundo */
    }

    .footer-section {
        width: 100%; /* Ajusta cada seção para ocupar toda a largura do rodapé */
        padding: 5px; /* Espaço interno suficiente para conteúdo */
        box-sizing: border-box; /* Garante que o padding seja calculado na largura */
        text-align: center;
    }
}

/* Estilo para o contêiner do botão */
.container-botao {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Estilo para o botão */
.btn {
    padding: 10px 30px;
    background-color: rgb(50, 217, 50);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(30, 187, 30);
}


  
