.user-bar {
    background-color: #fcc06d; /* Cor marrom para a faixa */
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px; /* Padding para dar espaço interno */
    display: flex; /* Uso de flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente dentro da barra */
    justify-content: space-between; /* Espaça o nome do usuário e o botão nas extremidades */
    width: 100%; /* Garante que a barra ocupe 100% da largura da janela */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Assegura que o cabeçalho fique sobre outros elementos */
}

#username {
    margin-right: 20px; /* Espaço entre o nome do usuário e o botão */
    margin-left: 40px;
}

#logoutButton {
    padding: 5px 15px; /* Padding no botão para torná-lo mais clicável */
    background-color: #A52A2A; /* Um tom de marrom mais escuro para o botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Bordas arredondadas para o botão */
    cursor: pointer; /* Muda o cursor para indicar clicabilidade */
    transition: background-color 0.2s; /* Suaviza a transição de cor */
    margin-right: 40px;
}

#logoutButton:hover {
    background-color: #800000; /* Cor de hover para o botão */
}

.background-image {
    background-image: url('/img/bibliotecafundo.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute; /* Mudei para absolute para permitir rolagem */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.footer {
    width: 100%;
    background-color: #f1f1f1c5;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.footer-section {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.footer-section p {
    line-height: 1.6; /* Aumenta o espaçamento das linhas */
}

.footer-section h3 {
    margin: 0 0 5px 0; /* Ajusta a margem do título para um espaçamento melhor */
}

@media (min-width: 601px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row; /* Muda para row para alinhar lado a lado */
        justify-content: space-between; /* Espaça as seções nas extremidades do rodapé */
        padding: 10px 20px; /* Aumenta o padding lateral para melhor aparência */
    }

    .footer-section {
        width: 50%; /* Ajusta cada seção para ocupar metade do rodapé */
        padding: 10px; /* Ajusta o padding para mais espaço interno */
        box-sizing: border-box;
    }

    body, html {
        overflow-x: hidden;
        height: 100vh;
    }
    
}

@media (max-width: 600px) {
    body, html {
        height: auto; /* Permite que o conteúdo defina a altura */
    }
    .user-bar {
        flex-direction: row; /* Empilha os elementos verticalmente */
        align-items: center; /* Centraliza os elementos horizontalmente */
        padding: 10px; /* Espaço interno suficiente */
    }

    .label-user {
        display: none; /* Oculta a palavra "Usuário" na versão mobile */
    }

    #username {
        width: 100%; /* Ocupa toda a largura disponível */
        margin: 0 0 5px 0; /* Espaço abaixo do nome antes do botão */
        font-size: 22px; /* Ajusta o tamanho da fonte para visibilidade */
        text-align: center; /* Centraliza o texto */
    }

    #logoutButton {
        width: 30%; /* Aumenta a largura do botão para melhor acessibilidade */
        padding: 8px 10px; /* Padding adequado para toque */
        font-size: 16px; /* Tamanho de fonte confortável para o botão */
        margin-bottom: 5px; /* Margem na parte inferior para separar do conteúdo abaixo */
        text-align: center; /* Centraliza o texto dentro do botão */
    }
}
